

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; 
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  width: 80%; 
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  border: none;
  border-radius: none;
}
.header-right-options{
  border: none;
}

.filter-toggle-btn {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  color: lightslategray;
  border: none;
  margin-left: 20px;
  cursor: pointer;
  font-size: 14px;
}


.filter-toggle-btn .icon {
  margin-right: 5px;
}


.content {
  display: flex;
  justify-content: center;
 
}


.filter-menu {
  flex: 0 0 250px; 
  background-color: #f8f9fa;
  padding: 15px;
  border: 1px solid #ddd;
  display: block; 
}

.grid-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 5px;
}

.grid-container.filter-hidden {
  grid-template-columns: repeat(4, 1fr); 
}


/* Responsive media queries */
@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-container.filter-hidden {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 768px) {
 

  .grid-container {
    grid-template-columns:  repeat(2, 1fr);
  }
  .grid-container.filter-hidden {
    grid-template-columns: repeat(2, 1fr);
  }

  .filter-toggle-btn {
    margin-left: 0;
    margin-top: 10px;
    font-size: 9px;
  }

  .header-right {
    margin-top: 10px;
    justify-content: center;
  }
  .items{
    display: none;
  }
  .filter-menu{
    flex: 0 0 10px;
  }
}

@media (max-width: 400px) {
  .grid-container {
    grid-template-columns:  1fr;
  }
  .grid-container.filter-hidden {
    grid-template-columns: repeat(2, 1fr);
  }
  .nav-links{
    padding: 0;
    gap: 0;
  }
}